*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:Helvetica;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 18px ;
  transition: background-color 0.3s;
  box-sizing:border-box;
  font-size:20px;
 }

 nav {
  background-color:rgb(190, 0, 0);
  position:fixed;
  width:100%;
  display:flex;
  justify-content:flex-end;
  border-bottom :1px solid black;

    
        }

nav a:hover {
    background-color: #364264;
}



#welcome-section{
  width:100vw;
  height:100vh;
  background-color:rgb(50,50,50);
  display:flex;
  align-items:center; justify-content:center;
  text-align:center;
}
.welcome{
  display:block;

  
  
}
.welcome h1{
  color:white;
  font-size:50px;
  margin-top:20px;
  margin-bottom:-20px;
 
}
.welcome p{
  color:red;
  font-style:italic;
  font-size:30px;
  font-weight:slim;
  font-family:times-new-roman;
  
  }


#projects{
  background-color:#364264;
  width:100vw;
  display:flex;
  flex-direction:column;
  height:auto;
  text-align:center;
  padding-bottom:1px;
  
  }

.project-title{
  padding-top:30px;
  color:white;
  font-size:23px;
border-bottom:2px solid white;
  width:93%;
  max-width:520px;
  display:block;
  margin:auto;

}
.project-title h1{
margin-bottom:10px;
}

.project-tile{
  border:1px solid;
  width:350px;
  height:400px;
 
  border-radius:5px;
  background-color:rgb(50,50,50);
  
}

.project-tile img{
  width:349px;
  height:340px;
 
  object-fit:cover;
  border-radius:5px 5px 0 0;
}

.project-container a{
  text-decoration:none;
  border:none;
  color:black;
}



.project-tile a{
  text-decoration:none;}


.project-tile h2{
  font-size:20px;
  font-family:sans-serif;
  font-weight:normal;
  color:white;
  white-space:pre-wrap;
}

.project-tile h2 span{
  opacity:0;
  transition: opacity 0.5s ease; 
  font-size:0.9em;
  color:orange;

}

.project-tile:hover span{
  opacity:1;

}

.project-container{
  display:flex;
  gap:45px;
  flex-wrap:wrap;
  justify-content:center;
  margin-top:70px;
}



.button{
  margin:81px auto;
  color:white;
  background-color:rgb(50,50,50);
  width:130px;
  font-size:20px;
  display:flex;
  overflow:hidden;
  white-space:pre-wrap;
  text-decoration:none;
  height:50px;
  align-items:center;
  transition: background-color 1s;

}

#profile-link{
  text-decoration:none;
  color:black;
  
  

}

.strongb{
  font-size:25px;
  margin-top:25px;
  transition:margin 0.5s;
}

.button:hover{
  background-color:rgb(190, 0, 0);

}
.button:hover .strongb{
  margin-left:5px;}

.button p:first-of-type{
  margin-left:13px;
}






#contacts{
  width:100vw;
  height:90vh;
  background-color:rgb(50,50,50);

flex-direction:column;
display:flex;
align-items:center;
justify-content:center;


}

.judul{
  justify-content:center;
  display:flex;
  text-align:center;
  margin:auto;
  margin-top:130px;
  flex-direction:column;
  color:white;
  
}

.judul h1{
  font-size:50px;
  margin-top:0px;
  margin-bottom:-20px;

}

.judul p{
  font-style:italic;
  font-size:25px;
  font-weight:slim;
  font-family:times-new-roman;
}

.socmed{
   margin: auto;
  margin-top: -110px;
  text-align: center;
  flex-wrap: wrap;
  gap: 40px;
  display: flex;
  font-size: 22px;
  max-width:780px;
  width:90%;
  justify-content:center;
 
  

}

.socmed a{
  color:white;
}

.s1,.s2,.s3,.s4,.s5{
transition:padding 0.5s;
height:2em;
}

.s1:hover{
  padding-top:10px;
}
.s2:hover{
  padding-top:10px;
}
.s3:hover{
  padding-top:10px;
}.s4:hover{
  padding-top:10px;
}.s5:hover{
  padding-top:10px;
}


footer{
 
  border-top:solid red;
  display:flex;
  flex-wrap:wrap;
  width:100%;
  justify-content:space-evenly;
  color:white;
  gap:80px;
 
}

@media(prefers-reduced-motion:no-preference){
  *{
    scroll-behavior:smooth;
  }
}




  




