*{
    box-sizing:border-box;
}

#logo{
    width:100px;
    height:80px;
    object-fit: cover;
    mix-blend-mode: multiply;
}


header{
    background-color: rgb(215, 233, 248);
    display:flex;
    height:80px;
    justify-content:space-between;
    width:100%;
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    align-items: center;

}

body{
    margin:0;
    padding:0;
    background-color:aliceblue;
    font-family: Tahoma;

}

header h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: clamp(18px, 4vw, 28px);
    color:rgba(13, 54, 239, 0.663);
    margin-left:50px;
}
header div{
    display:flex;
    align-items: center;

}
header p{
    font-size: clamp(9px, 2vw, 18px);
    color:rgba(13, 54, 239, 0.663);
}
nav{
    flex-direction: column;
    width:50%;
    max-width: 250px;;
    
 
}

nav ul{
    display:flex;
    padding-inline-start: 0;
    margin-block: 0;
    height:100%;
    justify-content: space-evenly;
    flex-wrap: wrap;    
}

nav li{
    list-style: none;
    text-align: center;

}

nav a{
    text-decoration: none;
    color:rgb(102, 174, 246);

    
}

nav a:hover{
    background-color: rgba(45, 65, 247, 0.282);
    color:blue;
    padding: 10px;
    border-bottom: 1px solid black;

}



main h2{
    margin-top:90px;
    margin-left:10px;
    color:rgba(13, 54, 239, 0.663);
}
/*equiz*/
.Info{
    margin-top: 90px;
}

.equiz fieldset{
    display: flex;
    border: none;
    border-top: 2px solid rgb(177, 177, 177);
    margin-top: -15px;
    flex-direction: column;
    padding-left: 1.9em;
    
 
}
.equiz ul{
    display: flex;
    list-style: none;
    width:300px;
    gap:150px;
    margin-block: 0;
    margin-top:5px;
    padding-inline-start: 20px;
}
.equiz p{
    margin-top:40px;
}
.equiz p:first-of-type{
    margin-top:40px;
}
.equiz label{
    font-style: italic;
}
.equiz{
    width:80%;
    margin: 0 auto;
    max-width: 800px;
}







/*INFO*/
.iquiz{
    width:80%;
    margin: 0 auto;
    max-width: 800px;
    
}

.iquiz fieldset{
    display:flex;
    border: none;
    border-top: 2px solid rgb(177, 177, 177);
    margin-top: -15px;
    flex-direction: column;
    padding-left: 1.9em;
    gap:40px;
        
}

.iquiz input{
    width:250px;
    border-radius: 5px;
    background-color:rgb(215, 233, 248);
    border: rgb(215, 233, 248); 
    
    
}
.iquiz label{
    white-space:pre-wrap;
    line-break: strict;
    text-align: left; /* Aligns text to the left */

}
.iquiz label:first-of-type{
    margin-top: 40px;
}


/*medium*/
.mquiz{
    width:80%;
    margin: 0 auto;
    max-width: 800px;
}

.mquiz fieldset{
    display:flex;
    border: none;
    border-top: 2px solid rgb(177, 177, 177);
    margin-top: -15px;
    flex-direction: column;
    padding-left: 1.9em;
}

.mquiz .check{
    list-style: none;
    margin-block: 0;
    gap:10px;
    display: flex;
    padding-inline-start: 20px;
    flex-direction: column;
    margin-top: 5px;
}
.mquiz p{
    margin-top:40px;
}
.mselect{
    width:300px;
    margin-top: 5px;
    margin-inline-start:20px;
    font-size:15px;
    background-color:rgb(215, 233, 248);
    border: rgb(215, 233, 248); 
    border-radius: 5px;

}


/*hHARDDDDD*/
.hquiz fieldset{
    display:flex;
    border: none;
    border-top: 2px solid rgb(177, 177, 177);
    margin-top: -15px;
    flex-direction: column;
    padding-left: 1.9em;}

.hquiz{
    width:80%;
    margin: 0 auto;
    max-width: 800px;
}

.hquiz p{
    margin-top:40px;
}

.hquiz input{
    margin-block: 0;
    display: flex;
    padding-inline-start: 20px;
    flex-direction: column;
    margin-top: 5px;
    width:200px;
    
}

.hquiz textarea{
    margin-block: 0;
    margin-inline-start: 20px;
    margin-top: 10px;
    width:530px;
    background-color:rgb(215, 233, 248);
    border: rgb(215, 233, 248); 
    border-radius: 10px;
}






/*LAST*/
.last{
    width:80%;
    margin: 0 auto;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}

.last fieldset{
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border:none;
}

.last .submit{
    margin-top: 20px;
    font-size: 18px;
    padding:20px;
    border-radius: 70%;
    background-color: rgb(215, 233, 248);
    border: 2px solid;
    border-color:aliceblue;
    color:rgba(13, 54, 239, 0.663);
    font-weight: bold;
}

.last .submit:hover{
    padding:25px;
}


.last a{
    text-decoration: none;
    color:rgb(102, 174, 246);
}
.last a:hover{
    color:rgba(45, 65, 247, 0.282);
}

@media (prefers-reduced-motion: no-preference){
    *{
        scroll-behavior: smooth;
}
}

@media screen and (max-width:600px){
    body fieldset{
        align-items: start;
        margin-left: 0;
        padding-left:0;

    }
    header p{
        display:none;
    }

    .hquiz fieldset{
        margin-left: 0;
        padding-left: 0;
        width:50px;
        flex-wrap: wrap;
    }

    .hquiz textarea{
        width:300px;
    }
    .mquiz fieldset{
        margin-left: 0;
        padding-left: 0;
        max-width: 50px;
        flex-wrap: wrap;
    }
    .equiz fieldset{
        margin-left: 0;
        padding-left: 0;
        max-width: 50px;
        flex-wrap: wrap;
    }
    .iquiz fieldset{
        margin-left: 0;
        padding-left: 0;
        max-width: 50px;
        flex-wrap: wrap;
    }

    .iquiz, .equiz, .mquiz, .hquiz, .last{
        align-items: center;
    }

    header h1{
        margin-left: 20px;
    }

    body{
        font-size: 0.9em;
    }
}
