*{
    box-sizing: border-box;
}


body,html,form{
    display: flex;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f0f0;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    width:90%;
    max-width: 700px;
    flex-wrap: wrap;

    
}


.info-box{
    display:flex;
    flex-direction: column;
    width:600px;
    justify-content: center;
    text-align: center;
    gap:30px;
    width:80%;
    margin-top: 10px;
    
    
}
.textbox1{
    white-space: pre-wrap;
    margin-right:3px;
    align-items: center;
}


.textbox2{
    display:flex;
    width:100%;
    text-align: center;
    justify-content: center;
    word-break: break-word;
    flex-wrap: wrap;
    white-space: pre-wrap;
  
    margin-left: -2.2px;
}

.textbox2 span{
    margin-left:2.1px 

}
.textbox2 p{
    margin-top: 0px;
    
}

input, textarea{
    width:100%;
    max-width:250px;
    border-radius: 10px;
    background:  #e5dede;
    border:none;
}



input:focus, textarea:focus{
    border-color: rgb(173, 151, 151);
    box-shadow: 0px 0px 100px rgb(213, 59, 59);
}

h2{
    text-align: center;
}

textarea{
    height:80px;

}

input{
    height:25px;
}

.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;;
}

button {
    position: relative;
    padding: 5px 10px;
    background: #f6d9d9;
    font-size: 15px;
    font-weight: 500;
    color: #181818;
    border: 3px solid  #f6d9d9;
    border-radius: 50px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  button:hover {
    background: transparent;
    color: #fec195;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #fffdef;
  }
  button:active{
  transform: scale(0.9);
  }

#out-box{
    
    max-width:400px;
    width:80%;
    margin-top:20px;
    align-items: center;
    text-align: center;    
 
}

.finish{
    border:3px solid #f0d0ae;
    border-style:dashed;
    word-wrap: break-word;
    padding:5px;
    
}

@media screen and (max-width: 483px) { 
    .textbox1{
        white-space: inherit;
        display:flex;
        margin:0;
        padding:0;
        justify-content: center;
        
    }
    .textbox2{
        white-space: inherit;
        display:flex;
        flex-direction: column;
        margin:0;
        padding:0;
        justify-content: center;
        text-align: center;
        width:100%;
        align-items: center;
    }
    .textbox2 p{
        white-space: inherit;
        margin:0;
        padding:0;
        justify-content: center;
        
    }
    textarea{
        margin:0;
        justify-content: center;
        align-items:center;
        white-space: inherit;
        padding:0;
        width:100%;

    }
    textarea, input{
        margin-top:10px;
    }
}
